<!DOCTYPE html>

<html lang="{{ .Site.LanguageCode }}">
  <head>
    <title>{{ .Title }} - {{ .Site.Title }}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link href="/style.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/print.css" rel="stylesheet" type="text/css" media="print" />
    <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="{{ .Site.Title }} Atom feed" />
    <link href="/rss.xml" type="application/rss+xml" rel="alternate" title="{{ .Site.Title }} RSS feed" />
    <meta name="viewport" content="width=device-width" />
  <meta name="author" content="{{ .Site.Author.name }}">
  <meta name="description" content="{{ .Site.Params.description }}">

  <script type="text/javascript"
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

  <link rel="stylesheet" href="https://yandex.st/highlightjs/8.0/styles/default.min.css">
<script src="https://yandex.st/highlightjs/8.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>


  </head>
  <body>
    
    <div id="container">
    <div id="header">
      <a href="/"><h1>{{ .Site.Title }}</h1></a>
    </div>

      <div id="content">


        <div class="main">
